@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f2937;
  --primary-color: #9ca3af;
  --secondary-color: #6b7280;
  --title-fz: 5rem;
  --description-fz: 1.5rem;
}

html,
body {
  background-color: var(--bg-color);
  font-size: 16px;
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.title {
  /* font-size: var(--title-fz); */
  /* font-family: "Fenix", serif; */
  font-family: 'Raleway', sans-serif;
  /* line-height: normal; */
  color: var(--primary-color);
  margin: 0;
}

.description {
  font-size: var(--description-fz);
  margin: 0.2rem 0;
}

.location > img {
  height: 20px;
  width: 20px;
}

.text-secondary {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
